<div class="post_show_comments">

  <%= form_for([@user, @post, @comment], url: {action: 'update'})  do |f| %>

    <p>
      <%= f.text_area :body %><br>
    </p>

    <p>
      <%= f.submit %>
    </p>

  <% end %>

</div>