%h2 Listing tags
= link_to 'Create tag', new_tag_path
%br
%br

#your_posts_index_table
  %table
    - @tags.each do |tag|
      %tr
        %td= link_to tag.tag_text, tag_path(tag.id)
        %td#tag-delete= link_to 'Delete', tag_path(tag.id), method: :delete, data: { confirm: 'Are you sure?' }
        %td= link_to 'Edit', edit_tag_path(tag.id)
