/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
body {
  background: url(bg_pattern.png);
}

html,
body {
  width: 960;
  margin: 0 auto;
  text-align: center;
  color: #fff;
  font-family: Helvetiva, Arial, Sans-Serif;
  font-size: 12px;
  margin-top: 10px;
}

h1 {
  font-size: 16px;
  color: #FFCC66;
}

a {
  color: #FAEBD7;
}

a:visited {
  color: #DEB887;
}

ul, li {
  padding: 0;
  margin: 0;
}

#error-explanation li {
  color: orange;
}

#layout-header {
  margin-bottom: 10px;
}

#signed-in-as {
  display: inline;
}

.layout-top-buttons a {
  display: inline-block;
  height: 20px;
  line-height: 20px;
  width: 130px;
  border-radius: 5px;
  border: 1px solid #E0FFFF;
  text-align: center;
  background: -webkit-linear-gradient(#ECECEC, #BFBFBF);
  color: black;
  letter-spacing: 1px;
  text-shadow: 0 1px 0 #fff;
  margin-top: 10px;
  text-decoration: none;
}

.layout-top-buttons a:hover {
  display: inline-block;
  height: 20px;
  line-height: 20px;
  width: 130px;
  border-radius: 5px;
  border: 1px solid #E0FFFF;
  text-align: center;
  background: -webkit-linear-gradient(#ECECEC, #9e9e9e);
  color: black;
  letter-spacing: 1px;
  text-shadow: 0 1px 0 #fff;
  margin-top: 10px;
  text-decoration: none;
}

.layout-top-buttons a:active {
  display: inline-block;
  height: 20px;
  line-height: 20px;
  width: 130px;
  border-radius: 5px;
  border: 1px solid #E0FFFF;
  text-align: center;
  background: -webkit-linear-gradient(#ECECEC, #8c8c8c);
  color: black;
  letter-spacing: 1px;
  text-shadow: 0 1px 0 #fff;
  margin-top: 10px;
  text-decoration: none;
}

#user-name {
  color: #00BFFF;
}

#flash-notice {
  color: orange;
}

.post-show-author {
  font-size: 12px;
}

.post-show-created-at {
  float: right;
  font-size: 12px;
}

.post-show-comments {
  width: 500px;
  margin: auto;
  text-align: left;
}