// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#index-table {
  width: 500px;
  margin: auto;
  text-align: left;
}

.home-index-title {
  padding-top: 10px;
}

#home-index-text {
  font-size: 14px;
  text-align: justify;
  padding-top: 10px;
}

#home-index-information {
  margin-bottom: 20px;
}