// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#index_table {
  width: 500px;
  margin: auto;
  text-align: left;
}

.home_index_title {
  padding-top: 10px;
}

#home_index_text {
  font-size: 14px;
  text-align: justify;
  padding-top: 10px;
}

#home_index_information {
  margin-bottom: 20px;
}